<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="stock" href="/tabs/stock">
      <ion-icon aria-hidden="true" name="cube"></ion-icon>
      <ion-label>Stock</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pedidos" href="/tabs/pedidos">
      <ion-icon aria-hidden="true" name="rocket"></ion-icon>
      <ion-label>Pedidos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pistola" href="/tabs/pistola">
      <ion-icon aria-hidden="true" name="camera"></ion-icon>
      <ion-label>Pistola</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
