<ion-header [translucent]="true" mode="ios" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Atrás"></ion-back-button>
    </ion-buttons>
    <ion-title>Stock / {{ param }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" mode="ios" class="ion-no-border">
  <ion-grid fixed>

    <ion-row>
      <ion-col size="12">
        <h2>Selección de {{ param }}</h2>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-top">
      <ion-col size="12">
        <ion-item>
          <ion-select label="Categoría" aria-label="Fruit" interface="action-sheet" placeholder="Seleccione">
            <ion-select-option value="apples">Apples</ion-select-option>
            <ion-select-option value="oranges">Oranges</ion-select-option>
            <ion-select-option value="bananas">Bananas</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button (click)="selection()" expand="block">Seleccionar</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
